*,
html {
    margin: 0;
    padding: 0;

}

.container{}

.container-navbar {
    background-color: #333;
    width: 100%;
    height: 10vh;
    sticky-top;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
}


.ul-navbar {
display: flex;
height: 200px;
justify-content: center;
align-items: center;
}

.li-navbar {
list-style-type: none;
padding: 50px;
margin: 50px;
color:rgb(241, 245, 248);
font-size: 80px;

}

.li-navbar:hover {
    background-color:chocolate;
    transition: .4s ease-in-out;
    transition-delay: .2s;
    border-radius: 30px;
}
.a-navbar {
    color:white;
    text-decoration: none;
    font-weight: 900;
}

.container-content {
    background-color:bisque;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
 
.my-carousel-img {
    width: 100%;
    height: 65vh; /* atau bisa pakai height: 100%; tergantung kebutuhan */
    object-fit: cover; /* agar gambar tidak terdistorsi dan tetap memenuhi area */
}

.carousel-caption h5 {
      font-size: 89px;
      font-weight: bold;
    }
    .carousel-caption p {
      font-size: 80px;
    }

.a-content {
    background-color:lightpink;
    color:black;
    text-decoration: none;
    font-size: 50px;
    width:1100px;
    height:750px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.img-content {
    width: 50%;
    height: 60%;
}

.container-footer {
    height: 10vh;
    background-color:rgb(255, 0, 89);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size:80px;
    color: white;
}
@media (max-width: 600px) {
    footer .row > div {
        text-align: center;
        margin-bottom: 10px;
    }
}
